#submit {
  color: #2ee22e;
  padding: 0.25em 1.25em;
  border: 2px solid #2ee22e;
}

#reset {
  color: red;
}

#command {
  font-size: 30px;
}

#timer {
  font-size: 36px;
}

.inputs {
  font-size: 24px;
  display: flex;
  gap: 30px;
}

.inputs input,
.inputs input:disabled {
  color: black;
  font-size: 18px;
  width: 2em;
  text-align: center;
  border: none;
  border-radius: 8px;
  padding: 0.5em;
  background: lightgrey;
}

.input-control {
  font-size: 18px;
  gap: 5px;
}

.minus,
.plus {
  width: 20px;
  height: 20px;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 8px 5px 8px 5px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

button {
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  border-radius: 8px;
}

.timer-container {
  position: relative;
  margin: 10px 0 10px 0;
  width: 10em;
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  border: 5px solid rgb(192, 192, 192, 0.7);
  border-radius: 50%;
}

.rounds {
  font-size: 18px;
}

.msgElement {
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: light;
  display: none;
  position: absolute;
  min-width: 200px;
  top: 9;
  right: 0;
  background: rgb(15, 15, 15, 0.8);
  color: white;
  border-radius: 8px;
  padding: 0.75em;
}

.msgElement.active {
  display: block;
}

.soundSwitch {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 460px) {
  body {
    margin: 0;
  }

  .container {
    max-width: none;
    margin: 0;
    padding: 20px;
    border-radius: 0;
  }
  .inputs {
    flex-direction: column;
  }
  .input-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 900px) {
  .inputs {
    flex-direction: column;
  }
  .input-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
