* {
  font-family: Calibri, Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container,
.time,
.status-text,
.status-description,
.sets-text,
.sets,
.next-workout {
  text-align: center;
}

h1,
.time,
.sets {
  margin: 0;
  font-size: 3rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.status-text {
  margin: 0;
  font-size: 2rem;
  color: #333;
  transition: color 0.2s ease-in-out;
}

.status-description,
.sets-text,
.next-workout {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
  transition: color 0.2s ease-in-out;
}

input,
.inputs-set,
.input-field {
  border: none;
}

.input-field {
  border: 1px solid rgb(209, 209, 209);
  padding: 8px;
  margin-right: 4px;
  display: block;
}

input {
  align-content: center;
  width: 10%;
  gap: 30px;
}

.btn,
.save-workout-btn,
.add-workout-btn,
.del-workout-btn {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn,
.input-plus {
  border: none;
  color: white;
  padding: 1rem 2rem;
  background-color: grey;
  margin-top: 2rem;
}

.save-workout-btn {
  background-color: seagreen;
  margin-top: 1rem;
}

.add-workout-btn,
.del-workout-btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-right: 4px;
}

.add-workout-btn {
  background-color: lightblue;
}

.del-workout-btn {
  background-color: lightcoral;
}

.btn:hover {
  background-color: darkgrey;
}

.save-workout-btn:hover {
  background-color: darkseagreen;
}

.add-workout-btn:hover {
  background-color: blue;
}

.del-workout-btn:hover {
  background-color: coral;
}

.options-content,
.workout-input,
.input-plus {
  display: flex;
}

.workout-input {
  align-items: center;
  margin-bottom: 4px;
}

.workout-history {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  border-top-left-radius: 10px;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
}

.history-content {
  max-height: 300px;
  overflow-y: auto;
}
